@import "mixins";

$black: #000000;
$white: #FFFFFF;
$grey: #1F1F1F;

// Mobile -> min-width: 320px;2
body
{
        @extend %flexbox;
        align-items: flex-start;

        font-family: Helvetica, sans-serif;
        background-color: $black;

        .menu
        {
                @extend %flexbox;
                justify-content: space-evenly;
                padding-left: 12px;
                padding-right: 12px;
                padding-top: 20px;
                padding-bottom: 48px;

                background-color: $grey;

                .btn-generate,
                .btn-share,
                .btn-about
                {
                        @extend %flexbox;

                        width: 30%;
                        height: 32px;
                        border-radius: 8px;

                        font-size: 20px;
                        text-decoration: none;

                        background-color: $white;
                        color: $black;
                        background: rgb(187,187,187);
                        background: linear-gradient(325deg, rgba(187,187,187,1) 0%, rgba(255,255,255,1) 100%);

                        cursor: pointer;
                        transition: 100ms all;
                }

                .btn-generate:hover,
                .btn-share:hover,
                .btn-about:hover
                {
                        box-shadow: 0px 8px 8px 0px rgba(255,255,255,0.7);
                        cursor: pointer;
                        transition: 100ms all;
                }

                .btn-generate:active,
                .btn-share:active,
                .btn-about:active
                {
                        box-shadow: 0px 4px 4px 0px rgba(255,255,255,0.7);
                        cursor: pointer;
                }
        }

        .colors
        {
                @extend %flexbox;

                .color1,
                .color2,
                .color3,
                .color4,
                .color5
                {
                        @extend %flexbox;
                        height: 140px;

                        p
                        {
                                font-size: 32px;
                        }
                }

                .color1
                {
                        background-color: red;
                }

                .color2
                {
                        background-color: orange;
                }

                .color3
                {
                        background-color: yellow;
                }

                .color4
                {
                        background-color: green;
                }

                .color5
                {
                        background-color: blue;
                }
        }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 1023px)
{

}

// Desktop
@media screen and (min-width: 1024px)
{

}
